<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Sshoe Mania</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a id="customers" class="nav-link active" aria-current="page" href="/">Customers</a>
                </li>
                <li class="nav-item">
                    <a id="orders" class="nav-link" href="/orders">Orders</a>
                </li>
                <li class="nav-item">
                    <a id="paymentMethods" class="nav-link" href="/paymentMethods">Payment Methods</a>
                </li>
                <li class="nav-item">
                    <a id="products" class="nav-link" href="/products">Products</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h1 class="title">Customers</h1>
<p class="title">This page allows you to <b>insert</b> a new customer into the database, <b>delete</b> a customer, and <b>select</b> all customers</p>

<form id="customer_form">
    <legend>Insert New Customer</legend>
    <div class="mb-3">
        <label for="userName" class="form-label">Customer Name</label>
        <input type="text" required="required" class="form-control" id="userName" aria-describedby="userName" placeholder="Wendy Smith">
    </div>
    <div class="mb-3">
        <label for="userEmail" class="form-label">Customer Email</label>
        <input type="email" class="form-control" id="userEmail" placeholder="wendy@example.com">
    </div>
    <div class="mb-3">
        <label for="userPhone" class="form-label">Customer Phone Number</label>
        <input type="number" class="form-control" id="userPhone" placeholder="555-123-9654">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

 <div >
      <div style="margin: 20px">
        <div class="searchbar">
          <input id ="customer_search" class="search_input" type="text" name="" placeholder="Search Database by Customer Name...">
          <button id = "search_btn" class="btn btn-success">Search</button>
          <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
        </div>
      </div>
    </div>

<table class="table table-hover"  id="customerTable">
    <tr>
        <th >Name</th>
        <th >Email</th>
        <th>Phone Number</th>

    </tr>
    {{#each customer}}
    <tr id = {{this.id}}>
        <td class="table-data">{{this.customer_name}}</td>
        <td class="table-data">{{this.customer_email}}</td>
        <td class="table-data">{{this.customer_phone}}</td>
        <td class="table-data"><button class="btn btn-danger" onclick=deletecustomer({{this.customer_id}}) class="delete">Delete</button></td>
        <td class="table-data" class="makeButton"> <a href="/customers/{{this.customer_id}}"><button class="btn btn-primary" type="button" name="button">Update</button></a>
    </tr>
    {{/each}}
</table>
