<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Sshoe Mania</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a id="customers" class="nav-link" aria-current="page" href="/">Customers</a>
        </li>
        <li class="nav-item">
          <a id="orders" class="nav-link" href="/orders">Orders</a>
        </li>
        <li class="nav-item">
          <a id="paymentMethods" class="nav-link active" href="/paymentMethods">Payment Methods</a>
        </li>
        <li class="nav-item">
          <a id="products" class="nav-link" href="/products">Products</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="" style=" margin-left: 50px; margin-top: 50px;">
  <h1>Payment Methods</h1>
  <p>This page allows you to <b>insert</b> a new payment method into the database, and <b>select all</b> payment methods</p>

  <form id ="payment_form">
    <div class="form-group">
      <legend>Insert New Payment Method</legend>
      <label>Payment Type</label>
      <input id = "payment_type" type="text" name="payment_type" class="form-control" value="" placeholder="Enter Payment Method Type..." size="40" id="payment_type">
    </div>
    <div class="form-group">
      <label>Credit Name</label>
      <input id = "credit_card_name" type="text" name="Credit_card_name" class="form-control" value="" placeholder="Enter Credit Card Name..." id="Credit_card_name">
    </div>
    <div class="form-group">
      <label>Credit Number</label>
      <input id = "credit_card_number" type="text" name="Credit_card_number" class="form-control" value="" placeholder="Enter Credit Card Number..." id="Credit_card_number">
    </div>
    <div class="form-group">
      <label>Credit Card Expiraton Date</label>
      <input id = "credit_card_exp_date" type="text" name="Credit_card_exp_date" class="form-control" value="" placeholder="Enter Credit Card Expiration Date..." id="Credit_card_exp_date">
    </div>
    <br>
    <div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>



  <table id="payment_table">

      <tr >
        <th>Payment Type</th>
        <th>Credit Card Name</th>
        <th>Credit Card Number</th>
        <th>Credit Card Expiraton Date</th>
      </tr>

      {{#each paymentMethod}}
        <tr>
          <td>{{payment_type}}</td>
          <td>{{credit_card_name}}</td>
          <td>{{credit_card_number}}</td>
          <td>{{credit_card_exp_date}}</td>
          <td>
            <button onclick=deletepaymentMethod({{payment_method_id}})>Delete</button>
          </td>
          <td> <a href="/paymentMethods/{{payment_method_id}}">Update</a>
        </tr>
      {{/each}}


  </table>
</div>
